<template>
  <validator lazy name="patients">
    <form novalidate @submit.prevent="savePatients">
      <div class="container-fluid">
        <div class="form-group col-md-4" :class="{ 'has-error': $patients.name.required}">
          <label for="exampleInputEmail1">Nome</label>
          <input type="text" class="form-control" @input="updateDataInput('name', $event)" :value="data.name" v-validate:name="{required: true}">
          <span class="help-block" v-if="$patients.name.required">Preencha o campo nome.</span>
        </div>
        <div class="form-group col-md-1" :class="{ 'has-error': $patients.age.required || $patients.age.number || $patients.age.positive}">
          <label for="exampleInputEmail1">Idade</label>
          <input type="number" min="1" class="form-control" @input="updateDataInput('age', $event)" :value="data.age" v-validate:age="{required: true, number: true, positive: true}" >
          <span class="help-block" v-if="$patients.age.required">Preencha o campo idade.</span>
          <span class="help-block" v-if="!$patients.age.required && $patients.age.positive">A idade deve ser positiva.</span>
          <span class="help-block" v-if="!$patients.age.required && $patients.age.number">Deve ser somente números.</span>
        </div>
        <div class="form-group col-md-3" :class="{ 'has-error': $patients.cpf.required, 'has-error' : $patients.cpf.cpf}">
          <label for="exampleInputEmail1">Cpf</label>
          <input type="text" class="form-control" @input="updateDataInput('cpf', $event)" v-mask-cpf="data.cpf" :value="data.cpf" v-validate:cpf="{required: true, cpf: true}">
          <span class="help-block" v-if="$patients.cpf.required">Preencha o campo cpf.</span>
          <span class="help-block" v-if="!$patients.cpf.required && $patients.cpf.cpf">Digite um cpf válido.</span>
        </div>
        <div class="form-group col-md-2" :class="{ 'has-error': $patients.sex.required}">
          <label for="exampleInputEmail1">Sexo</label>
          <select name="" id="" class="form-control"  @change="updateDataInput('sex', $event)" :value="data.sex" v-validate:sex="{required: true}">
            <option value="">Selecione um valor</option>
            <option value="M">Masculino</option>
            <option value="F">Feminino</option>
            <option value="O">Outro</option>
          </select>
          <span class="help-block" v-if="$patients.sex.required">Selecione o sexo.</span>
        </div>
        <div class="form-group col-md-2" :class="{ 'has-error': $patients.race.required}">
          <label for="exampleInputEmail1">Raça</label>
          <input type="text" class="form-control" @input="updateDataInput('race', $event)" :value="data.race" v-validate:race="{required: true}">
          <span class="help-block" v-if="$patients.race.required">Preencha a raça.</span>
        </div>
      </div>
      <div class="container-fluid">
        <div class="form-group col-md-12" :class="{ 'has-error': $patients.diagnostic.required}">
          <label for="exampleInputEmail1">Diagnośtico do Paciente</label>
          <textarea name="" id="" cols="30" rows="5" @input="updateDataInput('diagnostic', $event)" :value="data.diagnostic" v-validate:diagnostic="{required: true}" class="form-control"></textarea>
          <span class="help-block" v-if="$patients.diagnostic.required">Preencha o diagnóstico do paciente.</span>
        </div>
      </div>
      <div class="container-fluid">
        <div class="form-group col-md-4" :class="{ 'has-error': $patients.ocupation.required}">
          <label for="exampleInputEmail1">Ocupação</label>
          <input type="text" class="form-control" @input="updateDataInput('ocupation', $event)" :value="data.ocupation" v-validate:ocupation="{required: true}">
          <span class="help-block" v-if="$patients.ocupation.required">Preencha o ocupação do paciente.</span>
        </div>
        <div class="form-group col-md-2" :class="{ 'has-error': $patients.active.required }">
          <label for="exampleInputEmail1">Ativo</label>
          <select name="" id="" class="form-control" @change="updateDataInput('active', $event)" :value="data.active" v-validate:active="{required: true}">
            <option value="">Selecione um valor</option>
            <option value="S">Sim</option>
            <option value="N">Não</option>
          </select>
          <span class="help-block" v-if="$patients.active.required">Selecione se o paciente está ativo ou não.</span>
        </div>

        <div class="form-group col-md-5" :class="{ 'has-error': $patients.street.required }">
          <label for="exampleInputEmail1">Logradouro</label>
          <input type="text" class="form-control" @input="updateDataInput('street', $event)" :value="data.street" v-validate:street="{required: true}">
          <span class="help-block" v-if="$patients.street.required">Preencha o Logradouro.</span>
        </div>
        <div class="form-group col-md-1" :class="{ 'has-error': $patients.number.required || $patients.number.number || $patients.number.positive}">
          <label for="exampleInputEmail1">Número</label>
          <input type="number" class="form-control" @input="updateDataInput('number', $event)" :value="data.number" v-validate:number="{required: true, number:true, positive: true}" >
          <span class="help-block" v-if="$patients.number.required">Preencha o número.</span>
          <span class="help-block" v-if="!$patients.number.required && $patients.number.positive">O número deve ser positivo.</span>
          <span class="help-block" v-if="!$patients.number.required && $patients.number.number">O campo deve ser um número.</span>
        </div>
      </div>
      <div class="container-fluid">
        <div class="form-group col-md-2" :class="{ 'has-error': $patients.neighborhood.required }">
          <label for="exampleInputEmail1">Bairro</label>
          <input type="text" class="form-control" @input="updateDataInput('neighborhood', $event)" :value="data.neighborhood" v-validate:neighborhood="{required: true}">
          <span class="help-block" v-if="$patients.neighborhood.required">Preencha o bairro.</span>
        </div>
        <div class="form-group col-md-3" :class="{ 'has-error': $patients.city.required }">
          <label for="exampleInputEmail1">Cidade</label>
          <input type="text" class="form-control" @input="updateDataInput('city', $event)" :value="data.city" v-validate:city="{required: true}" >
          <span class="help-block" v-if="$patients.city.required">Preencha a cidade.</span>
        </div>
        <div class="form-group col-md-2" :class="{ 'has-error': $patients.state.required }">
          <label for="exampleInputEmail1">Estado</label>
          <input type="text" class="form-control" @input="updateDataInput('state', $event)" :value="data.state" v-validate:state="{required: true}" >
          <span class="help-block" v-if="$patients.state.required">Preencha o estado.</span>
        </div>
        <div class="form-group col-md-2" :class="{ 'has-error': $patients.telphone.required }">
          <label for="exampleInputEmail1">Telefone</label>
          <input type="text" class="form-control" @input="updateDataInput('telphone', $event)" v-mask-phone :value="data.telphone" v-validate:telphone="{required: true}" >
          <span class="help-block" v-if="$patients.telphone.required">Preencha o telefone.</span>
        </div>
        <div class="form-group col-md-3">
          <label for="exampleInputEmail1">Responsável do paciente</label>
          <input type="text" class="form-control" @input="updateDataInput('responsible', $event)" :value="data.responsible" >
        </div>
      </div>
      <div class="container-fluid">
        <div class="form-group col-md-3"  :class="{ 'has-error': $patients.academicResponsible.required }">
          <label for="exampleInputEmail1">Acadêmico Responsável pelo paciente na clínica</label>
          <input type="text" class="form-control" @input="updateDataInput('academicResponsible', $event)" :value="data.academicResponsible"  v-validate:academic-responsible="{required: true}">
          <span class="help-block" v-if="$patients.academicResponsible.required">Preencha o acadêmico responsável pelo paciente.</span>
        </div>
        <div class="form-group col-md-9"  :class="{ 'has-error': $patients.stagingArea.required }">
          <label for="exampleInputEmail1">Especialidade</label>
          <select name="" id="" class="form-control" @change="updateDataInput('stagingArea', $event)" :value="data.stagingArea" v-validate:staging-area="{required: true}">
            <option value="">Selecione a especialidade</option>
            <option :value="stagingArea.id" v-for="stagingArea in tableData.data">
              {{stagingArea.name}}
            </option>
          </select>
          <span class="help-block" v-if="$patients.stagingArea.required">Selecione a especialidade do paciente.</span>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="container-fluid">
        <div class="col-md-12">
          <hr>
          <input type="submit" :disabled="$patients.invalid" class="btn pull-right btn-success" name="send" value="Salvar" />
        </div>
      </div>
    </form>
    <div class="clearfix"></div>
  </validator>
</template>

<script>
import { data } from './vuex/getters';
import {
  updateInput,
  save,
  loadStagingAreasSelect,
  clearPatientsData,
  findPatient,
} from './vuex/actions';
import Vue from 'vue';
import { tableData } from 'modules/stagingArea/vuex/getters';

export default {
  data() {
    return {
      name: 'teste',
    };
  },
  vuex: {
    actions: {
      updateInput,
      loadStagingAreasSelect,
      save,
      clearPatientsData,
      findPatient,
    },
    getters: {
      data,
      tableData,
    },
  },
  watch: {
    $route: function Route(route) {
      if (route.name === 'pacientes-novo') {
        this.clearPatientsData();
        Vue.nextTick(() => this.$validate());
      }
    },
  },
  methods: {
    updateDataInput(input, e) {
      this.updateInput(input, e);
    },
    savePatients() {
      this.save(this.data.id, this.data).then(response => {
        if (response) {
          this.$router.go({ name: 'pacientes' });
        }
      });
    },
  },
  attached() {
    this.clearPatientsData();

    this.loadStagingAreasSelect().then(() => {
      if (this.$route.params.hasOwnProperty('id')) {
        this.findPatient(this.$route.params.id).then(() => this.$activateValidator());
      } else {
        this.$activateValidator();
      }
    });
  },
};
</script>

<style lang="css">
</style>
