<template>
  <Card no-footer="true">
    <div slot="header">
      <a v-link="{ name: 'pacientes' }" class="pull-left btn-sm btn btn-info">
        voltar
      </a>
    </div>
    <Tabs>
      <Tab name="patient_data" title="Dados do paciente" active="true">
        <form-patient></form-patient>
      </Tab>
      <Tab name="patient_session_imports" title="Importar sessões atendidas" v-if="this.$route.params.hasOwnProperty('id')">
        <form-import-session></form-import-session>
      </Tab>
      <Tab name="patient_evoution" title="Evolução do paciente" v-if="this.$route.params.hasOwnProperty('id')">
        <patient-evolution @removed-evolution="loadEvolutions" :evolutions="evolutionsList"></patient-evolution>
        <form-patient-evolution @reload-evolutions="loadEvolutions"></form-patient-evolution>
      </Tab>
    </Tabs>
  </Card>
</template>

<script>
import Card from 'layout/Card';
import Tab from 'layout/tabs/Tab';
import Tabs from 'layout/tabs/Tabs';

import FormPatientEvolution from 'modules/patient-evolution/FormPatientEvolution';
import PatientEvolution from 'modules/patient-evolution/Index';
import FormPatient from './FormPatient';
import FormImportSession from 'modules/import-sessions/Index';

import PatientRepository from './services/repository';

export default {
  components: {
    Card,
    Tabs,
    Tab,
    FormPatient,
    FormPatientEvolution,
    PatientEvolution,
    FormImportSession,
  },
  data() {
    return {
      evolutionsList: [],
    };
  },
  methods: {
    loadEvolutions() {
      const id = this.$route.params.id;

      PatientRepository.patientEvolutions(id).then(response => {
        this.evolutionsList = response;
      });
    },
  },

  ready() {
    if (this.$route.params.hasOwnProperty('id')) {
      this.loadEvolutions();
    }
  },
};
</script>

<style lang="css">
</style>
