<template>
  <modal :title="`Paciente - ${data.name}`" :on-close="clearData" name="show-patient-data">
    <table class="table table-size-20 table-striped table-condensed table-bordered">
      <tr>
        <td>ID: {{data.id || '-' }}</td>
      </tr>
      <tr>
        <td>Nome: {{data.name || '-' }}</td>
      </tr>
      <tr>
        <td>Idade: {{data.age || '-' }}</td>
      </tr>
      <tr>
        <td>Ctdf: {{data.cpf || '-' }}</td>
      </tr>
      <tr>
        <td>Sexo: {{data.sex || '-' | sex  }}</td>
      </tr>
      <tr>
        <td>Raça: {{data.race || '-' }}</td>
      </tr>
      <tr>
        <td>Diagnóstico: {{data.diagnostic || '-' }}</td>
      </tr>
      <tr>
        <td>Ocupação: {{data.ocupation || '-' }}</td>
      </tr>
      <tr>
        <td>Ativo: {{data.active || '-' }}</td>
      </tr>
      <tr>
        <td>Logradouro: {{data.street || '-' }}</td>
      </tr>
      <tr>
        <td>Número: {{data.number || '-' }}</td>
      </tr>
      <tr>
        <td>Bairro: {{data.neighborhood || '-' }}</td>
      </tr>
      <tr>
        <td>Cidade: {{data.city || '-' }}</td>
      </tr>
      <tr>
        <td>Estado: {{data.state || '-' }}</td>
      </tr>
      <tr>
        <td>Telefone: {{data.telphone || '-' }}</td>
      </tr>
      <tr>
        <td>Responsável pelo tdaciente: {{data.responsible || '-' }}</td>
      </tr>
      <tr>
        <td>Acadêmico Responsável: {{data.academicResponsible || '-' }}</td>
      </tr>
      <tr>
        <td>Área de estágio: {{data.staging_area && data.staging_area.name || '-' }}</td>
      </tr>
      <tr>
        <td>Criado em: {{data.created_at | moment 'DD/MM/YYYY'}}</td>
      </tr>
    </table>
  </modal>

  <Card title="Pacientes">
    <input type="text" placeholder="Busque pelo nome do paciente ou telefone ou acadêmico responsável." class="form-control" @keyup="searchPatients | debounce 500"
    :value="search">
    <hr>
    <table class="table table-bordered table-striped table-condensed">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>Acadêmico Responsável</th>
          <th>Especialidade</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="row in tableData.data">
          <td>{{row.id}}</td>
          <td>{{row.name}}</td>
          <td>{{row.academicResponsible}}</td>
          <td>{{row.staging_area.name}}</td>
          <td>
            <button type="button" @click="showPatient(row.id)" class="btn btn-warning" name="button">Visualizar</button>
            <a v-link="{ name: 'pacientes-editar', params: { id: row.id } }" class="btn btn-info">Editar</a>
          </td>
        </tr>
        <tr v-if="!tableData.data.length">
          <td colspan="8">Nenhum paciente cadastrado.</td>
        </tr>
      </tbody>
    </table>
    <pagination :url="urlLoadingData" :paginate-function="paginateData" :result="tableData"></pagination>
  </Card>
</template>

<script>
import Card from 'components/layout/Card';
import Pagination from 'components/layout/Pagination';
import { showModal } from 'layout/modal/vuex/actions.js';
import Modal from 'layout/modal/Modal';

import {
  loadDataTable,
  updateSearchState,
  clearPatientsData,
  findPatient,
  paginate,
} from './vuex/actions';

import {
  tableData,
  data,
} from './vuex/getters';

export default {
  components: {
    Card,
    Pagination,
    Modal,
  },
  vuex: {
    getters: {
      tableData,
      data,
    },
    actions: {
      loadDataTable,
      updateSearchState,
      showModal,
      findPatient,
      clearPatientsData,
      paginate,
    },
  },
  methods: {
    searchPatients(e) {
      const value = e.target.value;

      this.updateSearchState(value);
      this.loadDataTable({ q: value });
    },
    showPatient(id) {
      this.findPatient(id).then(() => {
        this.showModal('show-patient-data');
      });
    },
    clearData() {
      this.clearStagingData();
    },
    paginateData(page) {
      const q = this.search;

      this.paginate(page, q);
    },
  },
  ready() {
    this.loadDataTable();
  },
};
</script>

<style lang="css">
</style>
