<template lang="html">
  <Card>
    <div class="row">
      <form novalidate @submit.prevent="runReport()">

        <div class="col-md-2">
          <div class="form-group">
            <label>Ano</label>
            <input type="text" class="form-control" v-model="formReportPatients.year">
          </div>
        </div>
        <div class="col-md-2">
          <label for="">&nbsp;</label>
          <div class="form-group">
            <input type="submit" class="btn btn-default" name="name" value="Gerar">
          </div>
        </div>
      </form>
    </div>
    <div class="">
      <ul class="list-group">
        <li class="list-group-item" v-for="item in items">
          {{item.name}}
          <span class="pull-right">{{item.cpf}}</span>
        </li>
        <li class="list-group-item" v-if="sessionsAtended">
          <p class="pull-left">Total de pacientes:</p>
          <p class="pull-left">{{sessionsAtended}}</p>
          <div class="clearfix"></div>
        </li>
        <li class="list-group-item" v-if="!sessionsAtended">
          <div class="alert alert-warning">
            Nenhum paciente encontrado para o ano <b>{{formReportPatients.year}}</b>
          </div>
        </li>
      </ul>
    </div>
  </Card>
</template>

<script>
import Card from 'layout/Card';
import moment from 'moment';
import reportsRepository from '../services/repository';

const today = moment();

export default {
  data() {
    return {
      formReportPatients: {
        year: today.format('YYYY'),
      },
      items: [],
    };
  },
  computed: {
    sessionsAtended() {
      return this.items.length || 0;
    },
  },
  methods: {
    runReport() {
      const form = this.formReportPatients;

      reportsRepository.patients(form).then(result => {
        this.items = result;
      });
    },
  },
  components: {
    Card,
  },
};
</script>

<style lang="css">
</style>
