<template>
  <Card>
    <div slot="header">
      <a v-link="{ name: 'especialidade' }" class="pull-left btn-sm btn btn-info">
        voltar
      </a>
    </div>
    <validator lazy name="stagingArea">
      <form novalidate @submit.prevent="saveStagingArea">
        <div class="form-group col-md-12" :class="{ 'has-error': $stagingArea.name.required}">
          <label for="exampleInputEmail1">Nome</label>
          <input type="text" class="form-control" @input="updateName($event)" :value="stagingArea.data.name" v-validate:name="{required: true}" id="name" placeholder="Nome da especialidade" />
          <span class="help-block" v-if="$stagingArea.name.required">Preencha o campo nome com a especialidade.</span>
        </div>
        <div class="form-group col-md-12" slot="footer">
          <div class="pull-right">
            <a v-link="{ name: 'especialidade' }" class="btn btn-danger">Voltar</a>
            <input type="submit" class="btn btn-success" :disabled="$stagingArea.invalid" name="send" value="Salvar" />
          </div>
        </div>
      </form>
    </validator>
  </Card>
</template>

<script>
import Card from 'components/layout/Card';
import { save, findStagingArea, updateName, clearStagingData } from './vuex/actions';
import { stagingArea, alert } from './vuex/getters';
import Vue from 'vue';

export default {
  components: {
    Card,
  },
  watch: {
    $route: function Route(route) {
      if (route.name === 'especialidade-novo') {
        this.clearStagingData();
        Vue.nextTick(() => this.$validate());
      }
    },
  },
  methods: {
    saveStagingArea() {
      this.save(this.stagingArea.data.id, this.stagingArea).then(response => {
        if (response) {
          this.$router.go({ name: 'especialidade' });
        }
      });
    },
    updateName($event) {
      this.updateName($event);
    },
  },
  vuex: {
    getters: {
      stagingArea,
      alert,
    },
    actions: {
      save,
      findStagingArea,
      updateName,
      clearStagingData,
    },
  },
  attached() {
    if (this.$route.params.hasOwnProperty('id')) {
      this.clearStagingData();
      this.findStagingArea(this.$route.params.id).then(() => this.$activateValidator());
    } else {
      this.$activateValidator();
    }
  },
};
</script>

<style lang="css">
</style>
