<template>
  <Card :title="$route.title" no-footer="true">
    <div slot="header">
      <a v-link="{ name: 'quesitos' }" class="pull-left btn-sm btn btn-info">
        voltar
      </a>
    </div>
    <validator lazy name="quesitForm">
      <form novalidate @submit.prevent="saveQuesit">
        <div class="form-group col-md-12" :class="{'has-error': $quesitForm.description.required}">
          <label>Descrição</label>
          <input type="text" class="form-control" v-validate:description="{ required:true }" @input="updateDataInput('description', $event)" :value="quesit.data.description" >
          <span class="help-block" v-if="$quesitForm.description.required">Preenha a descrição do quesito</span>
        </div>
        <div class="form-group col-md-12" :class="{'has-error': $quesitForm.minNote.required}">
          <label>Nota Mínima</label>
          <input type="number" class="form-control" v-validate:min-note="{ required:true }" @input="updateDataInput('minNote', $event)" :value="quesit.data.minNote" >
          <span class="help-block" v-if="$quesitForm.minNote.required">preencha a nota mínima para esse quesito</span>
        </div>
        <div class="form-group col-md-12" :class="{'has-error': $quesitForm.maxNote.required}">
          <label>Nota Máxima</label>
          <input type="number" class="form-control" v-validate:max-note="{ required:true }" @input="updateDataInput('maxNote', $event)" :value="quesit.data.maxNote" >
          <span class="help-block" v-if="$quesitForm.maxNote.required">Preencha a nota máxima para esse quesito</span>
        </div>
        <div class="form-group col-md-12">
          <label>Quesito Habilitado para avaliação</label>

          <div class="checks-enabled-or-no">
            <div class="radio" :class="{'has-error': $quesitForm.active.required}">
              <label>
              <input type="radio" name="active" v-validate:active="{required:true}" @change="updateDataInput('active', $event)" value="true" :checked="quesit.data.active"> Sim
            </label>
            </div>
            <div class="radio" :class="{'has-error': $quesitForm.active.required}">
              <label>
              <input type="radio" name="active" v-validate:active="{required:true}" @change="updateDataInput('active', $event)" value="false" :checked="!quesit.data.active"> Não
            </label>
              <span class="help-block" v-if="$quesitForm.active.required">mMarque se este quesito está no formulário ou não.</span>
            </div>
          </div>
        </div>
        <div class="pull-right">
          <a v-link="{ name: 'quesitos' }" class="btn btn-danger">Voltar</a>
          <input type="submit" :disabled="$quesitForm.invalid" class="btn btn-success" name="send" value="Salvar" />
        </div>
        </div>
      </form>
    </validator>
  </Card>
</template>

<script>
import Card from 'components/layout/Card';
import { save, findQuesit, updateInput, clearQuesitData } from './vuex/actions';
import { quesit, alert } from './vuex/getters';
import Vue from 'vue';

export default {
  components: {
    Card,
  },
  watch: {
    $route: function Route(route) {
      if (route.name === 'quesitos-novo') {
        this.clearQuesitData();
        Vue.nextTick(() => this.$validate());
      }
    },
  },
  methods: {
    saveQuesit() {
      this.save(this.quesit.data.id, this.quesit.data).then(response => {
        if (response) {
          this.$router.go({ name: 'quesitos' });
        }
      });
    },
    updateDataInput(input, e) {
      this.updateInput(input, e);
    },
  },
  vuex: {
    getters: {
      quesit,
      alert,
    },
    actions: {
      save,
      findQuesit,
      updateInput,
      clearQuesitData,
    },
  },
  attached() {
    this.clearQuesitData();
    if (this.$route.params.hasOwnProperty('id')) {
      this.findQuesit(this.$route.params.id).then(() => this.$activateValidator());
    } else {
      this.$activateValidator();
    }
  },
};
</script>

<style lang="css">

</style>
