<template>
  <modal :title="`Quesito - ${data.description}`" :on-close="clearData" name="show-quesit">
    <table class="table table-striped table-condensed table-bordered">
      <tr>
        <td>ID</td>
        <td>{{data.id}}</td>
      </tr>
      <tr>
        <td>Descrição</td>
        <td>{{data.description}}</td>
      </tr>
      <tr>
        <td>Nota mínima</td>
        <td>{{data.minNote}}</td>
      </tr>
      <tr>
        <td>Nota Máxima</td>
        <td>{{data.maxNote}}</td>
      </tr>
      <tr>
        <td>Criado em</td>
        <td>{{data.created_at | moment 'DD/MM/YYYY'}}</td>
      </tr>
    </table>
  </modal>

  <Card title="Quesitos">
    <input type="text" placeholder="Busque pela descrição dos quesitos." class="form-control" @keyup="searchQuesit | debounce 500"
      :value="search">
    <hr>
    <table class="table table-bordered table-striped table-condensed">
      <thead>
        <tr>
          <th>Descrição</th>
          <th>Nota Mínima</th>
          <th>Nota Máxima</th>
          <th>Ativo</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="row in tableData.data">
          <td>{{row.description}}</td>
          <td>{{row.minNote}}</td>
          <td>{{row.maxNote}}</td>
          <td>{{ (row.active) ? 'Sim' : 'Não' }}</td>
          <td>
            <button type="button" @click="showQuesit(row.id)" class="btn btn-warning" name="button">Visualizar</button>
            <button type="button" @click="removeQuesit(row.id)" class="btn btn-danger" name="button">Deletar</button>
            <a v-link="{ name: 'quesitos-editar', params: { id: row.id } }" class="btn btn-info">Editar</a>
          </td>
        </tr>
        <tr v-if="!tableData.data.length">
          <td colspan="8">Nenhum quesito cadastrado.</td>
        </tr>
      </tbody>
    </table>
    <pagination :url="urlLoadingData" :paginate-function="paginateData" :result="tableData"></pagination>
  </Card>
</template>

<script>
import Card from 'layout/Card';
import Modal from 'layout/modal/Modal';
import Pagination from 'layout/Pagination';
import { showModal } from 'layout/modal/vuex/actions.js';
import { confirmAlert } from 'src/services/alert';

import {
  loadDataTable,
  paginate,
  updateSearchState,
  findQuesit,
  clearQuesitData,
  disableQuesit,
} from './vuex/actions';

import {
  tableData,
  urlLoadingData,
  search,
  data,
} from './vuex/getters';

export default {
  components: {
    Card,
    Pagination,
    Modal,
  },
  vuex: {
    getters: {
      tableData,
      data,
      urlLoadingData,
      search,
    },
    actions: {
      loadDataTable,
      paginate,
      updateSearchState,
      showModal,
      findQuesit,
      clearQuesitData,
      disableQuesit,
    },
  },
  methods: {
    searchQuesit(e) {
      const value = e.target.value;

      this.updateSearchState(value);
      this.loadDataTable({ q: value });
    },
    showQuesit(id) {
      this.findQuesit(id).then(() => {
        this.showModal('show-quesit');
      });
    },
    clearData() {
      this.clearQuesitData();
    },
    paginateData(page) {
      const q = this.search;

      this.paginate(page, q);
    },
    removeQuesit(id) {
      const message = 'Tem certeza que deseja remover este quesito ?';
      confirmAlert(message).then(() => {
        this.disableQuesit(id).then(() => this.loadDataTable());
      }).catch(() => {});
    },
  },
  ready() {
    this.loadDataTable();
  },
};
</script>

<style lang="css">

</style>
