<template>
  <Card no-footer="true">
    <div slot="header">
      <a v-link="{ name: 'alunos' }" class="pull-left btn-sm btn btn-info">
        voltar
      </a>
    </div>
    <Tabs>
      <Tab name="student_data" title="Dados do Aluno" active="true">
        <validator lazy name="studentForm">
          <form novalidate @submit.prevent="saveStudent">
            <div class="form-group col-md-12" :class="{'has-error': $studentForm.name.required }">
              <label>Nome</label>
              <input type="text" class="form-control" v-validate:name="{required: true}" :value="data.name" @input="updateInput('name', $event)" placeholder="seu nome">
              <span class="help-block" v-if="$studentForm.name.required">Preencha o seu nome.</span>
            </div>
            <div class="form-group col-md-12" :class="{'has-error': $studentForm.email.required || $studentForm.email.email }">
              <label>Email</label>
              <input type="email" class="form-control" v-validate:email="{required: true, email: true}" :value="data.email" @input="updateInput('email', $event)" placeholder="seu email">
              <span class="help-block" v-if="$studentForm.email.required">Preencha o seu email.</span>
              <span class="help-block" v-if="!$studentForm.email.required && $studentForm.email.email">Preencha com o email válido.</span>
            </div>
            <div class="form-group col-md-12" :class="{'has-error': $studentForm.telphone.required }">
              <label>Telefone</label>
              <input type="texgt" class="form-control" v-mask-phone v-validate:telphone="{required: true}" :value="data.telphone" @input="updateInput('telphone', $event)" placeholder="seu telefone">
              <span class="help-block" v-if="$studentForm.telphone.required">Preencha o seu telefone.</span>
            </div>
            <div class="form-group col-md-12" :class="{'has-error': $studentForm.registration.required }">
              <label>Matrícula</label>
              <input type="number" class="form-control" v-validate:registration="{required: true}" :value="data.registration" @input="updateInput('registration', $event)" placeholder="sua matrícula">
              <span class="help-block" v-if="$studentForm.registration.required">Preencha a sua matrícula.</span>
            </div>
            <div class="form-group col-md-12">
              <div class="pull-right">
                <a v-link="{ name: 'alunos' }" class="btn btn-danger">Voltar</a>
                <input type="submit" :disabled="$studentForm.invalid" class="btn btn-success" name="send" value="Salvar" />
              </div>
            </div>
            <div class="clearfix"></div>
          </form>
        </validator>
      </Tab>
      <Tab name="stdent_evaluation" title="Avaliação do Aluno" v-if="$route.params.hasOwnProperty('id')">
        <form-evaluation></form-evaluation>
        <div class="clearfix"></div>
      </Tab>
    </Tabs>
  </Card>
</template>

<script>
import Tab from 'layout/tabs/Tab';
import Tabs from 'layout/tabs/Tabs';
import Card from 'components/layout/Card';
import FormEvaluation from './evaluation/FormEvaluation';

import {
  data,
} from './vuex/getters';

import {
  updateInput,
  save,
  findStudent,
  clearStudentData,
} from './vuex/actions';

import Vue from 'vue';

export default {
  components: {
    Card,
    Tabs,
    Tab,
    FormEvaluation,
  },
  vuex: {
    getters: {
      data,
    },
    actions: {
      updateInput,
      save,
      findStudent,
      clearStudentData,
    },
  },
  methods: {
    updateInput(name, input) {
      this.updateInput(name, input);
    },
    saveStudent() {
      this.save(this.data.id, this.data).then(response => {
        if (response) {
          this.$router.go({ name: 'alunos' });
        }
      });
    },
  },
  watch: {
    $route: function Route(route) {
      if (route.name === 'alunos-novo') {
        this.clearStudentData();
        Vue.nextTick(() => this.$validate());
      }
    },
  },
  attached() {
    this.clearStudentData();
    if (this.$route.params.hasOwnProperty('id')) {
      this.findStudent(this.$route.params.id).then(() => this.$activateValidator());
    } else {
      this.$activateValidator();
    }
  },
};
</script>

<style lang="css">
</style>
