<template>
  <modal :title="`Aluno - ${data.name}`" :on-close="clearData" name="show-student">
    <table class="table table-striped table-condensed table-bordered">
      <tr>
        <td>ID</td>
        <td>{{data.id}}</td>
      </tr>
      <tr>
        <td>Nome</td>
        <td>{{data.name}}</td>
      </tr>
      <tr>
        <td>Email</td>
        <td>{{data.email}}</td>
      </tr>
      <tr>
        <td>Telefone</td>
        <td>{{data.telphone}}</td>
      </tr>
      <tr>
        <td>Matrícula</td>
        <td>{{data.registration}}</td>
      </tr>
      <tr>
        <td>Criado em</td>
        <td>{{data.created_at | moment 'DD/MM/YYYY'}}</td>
      </tr>
    </table>
  </modal>

  <Card title="Alunos">
    <input type="text" placeholder="Email ou matrícula e ou nome completo." class="form-control" @keyup="searchStudent | debounce 500"
      :value="search">
    <hr>
    <table class="table table-bordered table-striped table-condensed">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Email</th>
          <th>Telefone</th>
          <th>Matrícula</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="row in tableData.data">
          <td>{{row.name}}</td>
          <td>{{row.email}}</td>
          <td>{{row.telphone}}</td>
          <td>{{row.registration}}</td>
          <td>
            <button type="button" @click="showStudent(row.id)" class="btn btn-warning" name="button">Visualizar</button>
            <a v-link="{ name: 'alunos-editar', params: { id: row.id } }" class="btn btn-info">Editar</a>
          </td>
        </tr>
        <tr v-if="!tableData.data.length">
          <td colspan="2">Nenhum aluno cadastrado.</td>
        </tr>
      </tbody>
    </table>
    <pagination :url="urlLoadingData" :paginate-function="paginateData" :result="tableData"></pagination>
  </Card>
</template>

<script>
import Card from 'layout/Card';
import Modal from 'layout/modal/Modal';
import Pagination from 'layout/Pagination';
import { showModal } from 'layout/modal/vuex/actions.js';

import {
  loadDataTable,
  paginate,
  updateSearchState,
  findStudent,
  clearStudentData,
} from './vuex/actions';

import {
  tableData,
  urlLoadingData,
  search,
  data,
} from './vuex/getters';

export default {
  components: {
    Card,
    Pagination,
    Modal,
  },
  vuex: {
    getters: {
      tableData,
      data,
      urlLoadingData,
      search,
    },
    actions: {
      loadDataTable,
      paginate,
      updateSearchState,
      showModal,
      findStudent,
      clearStudentData,
    },
  },
  methods: {
    searchStudent(e) {
      const value = e.target.value;

      this.updateSearchState(value);
      this.loadDataTable({ q: value });
    },
    showStudent(id) {
      this.findStudent(id).then(() => {
        this.showModal('show-student');
      });
    },
    clearData() {
      this.clearStudentData();
    },
    paginateData(page) {
      const q = this.search;

      this.paginate(page, q);
    },
  },
  ready() {
    this.loadDataTable();
  },
};
</script>

<style lang="css">

</style>
