<template>
  <validator lazy name="evaluation">
    <form novalidate @submit.prevent="saveEvaluation">
      <div class="form-group col-md-12">
        <label for="exampleInputEmail1">Nome</label>
        <input type="text" class="form-control" disabled :value="data.name">
      </div>
      <div class="form-group col-md-12" :class="{'has-error' : $evaluation.instituition.required}">
        <label for="exampleInputEmail1">Instituição</label>
        <input type="text" class="form-control" v-model="form.instituition" v-validate:instituition="{required: true}">
        <span class="help-block" v-if="$evaluation.instituition.required">Preencha a instituição.</span>
      </div>
      <div class="form-group col-md-12" :class="{'has-error' : $evaluation.classschool.required}">
        <label for="exampleInputEmail1">Turma</label>
        <input type="text" class="form-control" v-model="form.class_school" v-validate:classschool="{required: true}">
        <span class="help-block" v-if="$evaluation.classschool.required">Preencha a turma do aluno.</span>
      </div>
      <div class="form-group col-md-12" :class="{'has-error' : $evaluation.year.required}">
        <label for="exampleInputEmail1">Ano</label>
        <input type="text" class="form-control" v-model="form.year" v-validate:year="{required: true}">
        <span class="help-block" v-if="$evaluation.year.required">Preencha o ano da avaliação do aluno.</span>
      </div>
      <div class="form-group col-md-12" :class="{'has-error' : $evaluation.stagingsupervisor.required}">
        <label for="exampleInputEmail1">Surpevisor do Estágio</label>
        <input type="text" class="form-control" v-model="form.staging_supervisor" v-validate:stagingsupervisor="{required: true}">
        <span class="help-block" v-if="$evaluation.stagingsupervisor.required">Preencha o supervisor do estágio do aluno.</span>
      </div>
      <div class="form-group col-md-12" :class="{'has-error' : $evaluation.teacher.required}">
        <label for="exampleInputEmail1">Professor</label>
        <input type="text" class="form-control" v-model="form.teacher"  v-validate:teacher="{required: true}">
        <span class="help-block" v-if="$evaluation.teacher.required">Preencha o professor da disciplina do aluno.</span>
      </div>
      <div class="col-md-12">
        <table class="table table-condensed table-bordered">
          <tr>
            <th colspan="3">
              <h2>Quesitos</h2>
            </th>
          </tr>
          <tr v-for="quesit in quesits">
            <td width="30%">{{quesit.description}}</td>
            <td>
              <div class="col-md-4">
                <div class="form-group col-md-12" :class="{'has-error' :$evaluation['note'+$index].required || $evaluation['note'+$index].min || $evaluation['note'+$index].max}">
                  <input type="number" class="form-control" :field="`note${$index}`" v-model="form.quesits[quesit.id]" v-validate="{
                    min: quesit.minNote,
                    max: quesit.maxNote,
                    required: true
                    }" placeholder="Nota" />
                    <span class="help-block" v-if="$evaluation['note'+$index].required">Preencha a nota do quesito.</span>
                    <span class="help-block" v-if="!$evaluation['note'+$index].required && $evaluation['note'+$index].min">A nota mínima é {{quesit.minNote}}.</span>
                    <span class="help-block" v-if="$evaluation['note'+$index].max">A nota máxima é {{quesit.maxNote}}.</span>
                  </div>
                </div>
              </td>
            </tr>
          </table>
        </div>
        <div class="form-group col-md-12" :class="{'has-error' : $evaluation.supervisor.required}">
          <label for="exampleInputEmail1">Supervisor avaliador</label>
          <input type="text" class="form-control" v-model="form.supervisor_ajuster" v-validate:supervisor="{required: true}">
          <span class="help-block" v-if="$evaluation.supervisor.required">Preencha o supervisor avaliador.</span>
        </div>
        <div class="form-group col-md-12">
          <label for="exampleInputEmail1">Observação</label>
          <textarea class="form-control" v-model="form.observation"></textarea>
        </div>
        <input type="submit" class="btn pull-right btn-success" :disabled="$evaluation.invalid" name="send" value="Salvar" />
      </form>
    </validator>
  </template>

  <script>
  import moment from 'moment';
  import QuesitRepository from 'modules/quesits/services/repository';
  import StudentRepository from '../services/repository';
  import { successSaveData } from 'src/services/alert';

  const transformQuesits = (quesits) => {
    const quesitObject = {};

    quesits.forEach(quesit => {
      quesitObject[quesit.pivot.quesit_id] = quesit.pivot.note;
    });

    return quesitObject;
  };

  import {
    data,
  } from '../vuex/getters';

  export default {
    data() {
      return {
        form: {
          instituition: 'UNIVERSIDADE SALGADO DE OLIVEIRA',
          class_school: '',
          year: moment().format('YYYY'),
          staging_supervisor: '',
          teacher: '',
          quesits: {},
          supervisor_ajuster: '',
          observation: '',
        },
        quesits: [],
      };
    },
    vuex: {
      getters: {
        data,
      },
    },
    methods: {
      saveEvaluation() {
        StudentRepository.evaluationStudent(this.$route.params.id, this.form).then(() => {
          successSaveData('Avaliação do aluno cadastrada com sucesso.');
        });
      },
    },
    ready() {
      const idStudent = this.$route.params.id;

      QuesitRepository.listActives().then(result => {
        this.quesits = result;
      });

      StudentRepository.getEvaluationStudent(idStudent).then(result => {
        const evaluation = result.evaluation;
        if (evaluation) {
          if (evaluation.quesits && evaluation.quesits.length) {
            evaluation.quesits = transformQuesits(evaluation.quesits);
          }

          this.form = evaluation;
        }

        this.$activateValidator();
      });
    },
  };
  </script>

  <style lang="css">
  </style>
