<template>
  <Card>
    <div slot="header">
      <a v-link="{ name: 'usuarios' }" class="pull-left btn-sm btn btn-info">
        voltar
      </a>
    </div>
    <validator lazy name="usersForm">
      <form novalidate @submit.prevent="saveUser">

        <div class="form-group col-md-12" :class="{'has-error': $usersForm.name.required }">
          <label>Nome</label>
          <input type="text" class="form-control" v-validate:name="{required: true}" :value="data.name" @input="updateInput('name', $event)"  />
          <span class="help-block" v-if="$usersForm.name.required">Preencha o seu nome.</span>
        </div>
        <div class="form-group col-md-12" :class="{'has-error': $usersForm.login.required }">
          <label>Login</label>
          <input type="text" class="form-control" v-validate:login="{required: true}" :value="data.login" @input="updateInput('login', $event)"  />
          <span class="help-block" v-if="$usersForm.login.required">Preencha o seu login.</span>
        </div>
        <div class="form-group col-md-12" :class="{'has-error': validatePassword && $usersForm.password.required }">
          <label>Senha</label>
          <input type="password" class="form-control" v-validate:password="{required: validatePassword}" :value="data.password" @input="updateInput('password', $event)"  />
          <span class="help-block" v-if="validatePassword && $usersForm.password.required">Preencha sua senha. </span>
        </div>
        <div class="form-group col-md-12" :class="{'has-error': $usersForm.email.required ||$usersForm.email.email }">
          <label>Email</label>
          <input type="text" class="form-control" v-validate:email="{required: true, email: true}" :value="data.email" @input="updateInput('email', $event)"  />
          <span class="help-block" v-if="$usersForm.email.required">Preencha o seu email.</span>
          <span class="help-block" v-if="!$usersForm.email.required && $usersForm.email.email">Preencha com o email válido.</span>
        </div>
        <div class="form-group col-md-12" :class="{'has-error': $usersForm.telphone.required }">
          <label>Telefone</label>
          <input type="text" class="form-control" v-mask-phone v-validate:telphone="{required: true}" :value="data.telphone" @input="updateInput('telphone', $event)"  />
          <span class="help-block" v-if="$usersForm.telphone.required">Preencha o seu telefone.</span>
        </div>
        <div class="form-group col-md-12" :class="{'has-error': $usersForm.registration.required }">
          <label>Matrícula</label>
          <input type="number" class="form-control" v-validate:registration="{required: true}" :value="data.registration" @input="updateInput('registration', $event)"  />
          <span class="help-block" v-if="$usersForm.registration.required">Preencha sua matrícula.</span>
        </div>
        <a v-link="{ name: 'usuarios' }" class="btn btn-danger">Voltar</a>
        <input type="submit" class="btn btn-success" name="send" value="Salvar" :disabled="validatePassword && $usersForm.invalid" />
      </form>
    </validator>
  </Card>
</template>

<script>
import Card from 'components/layout/Card';
import Vue from 'vue';
import {
  data,
} from './vuex/getters';

import {
  updateInput,
  save,
  findUser,
  clearUserData,
} from './vuex/actions';
export default {
  components: {
    Card,
  },
  computed: {
    validatePassword() {
      return !this.data.hasOwnProperty('id');
    },
  },
  watch: {
    $route: function Route(route) {
      if (route.name === 'usuarios-novo') {
        this.clearUserData();
        Vue.nextTick(() => this.$validate());
      }
    },
  },
  vuex: {
    getters: {
      data,
    },
    actions: {
      updateInput,
      save,
      findUser,
      clearUserData,
    },
  },
  methods: {
    updateInput(name, input) {
      this.updateInput(name, input);
    },
    saveUser() {
      this.save(this.data.id, this.data).then(response => {
        if (response) {
          this.$router.go({ name: 'usuarios' });
        }
      });
    },
  },
  attached() {
    this.clearUserData();
    if (this.$route.params.hasOwnProperty('id')) {
      this.findUser(this.$route.params.id).then(() => this.$activateValidator());
    } else {
      this.$activateValidator();
    }
  },
};
</script>

<style lang="css">
</style>
