<template>
  <modal :title="`Usuário - ${data.name}`" :on-close="clearData" name="show-user">
    <table class="table table-striped table-condensed table-bordered">
      <tr>
        <td>ID</td>
        <td>{{data.id}}</td>
      </tr>
      <tr>
        <td>Nome</td>
        <td>{{data.name}}</td>
      </tr>
      <tr>
        <td>Email</td>
        <td>{{data.email}}</td>
      </tr>
      <tr>
        <td>Telefone</td>
        <td>{{data.telphone}}</td>
      </tr>
      <tr>
        <td>Matrícula</td>
        <td>{{data.registration}}</td>
      </tr>
      <tr>
        <td>Criado em</td>
        <td>{{data.created_at | moment 'DD/MM/YYYY'}}</td>
      </tr>
    </table>
  </modal>

  <Card title="Usuário">
    <input type="text" placeholder="Busque pelo nome do usuário ou email." class="form-control" @keyup="searchUser | debounce 500"
      :value="search">
    <hr>
    <table class="table table-bordered table-striped table-condensed">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Email</th>
          <th>Telefone</th>
          <th>Matrícula</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="row in tableData.data">
          <td>{{row.name}}</td>
          <td>{{row.email}}</td>
          <td>{{row.telphone}}</td>
          <td>{{row.registration}}</td>
          <td>
            <button type="button" @click="showUser(row.id)" class="btn btn-warning" name="button">Visualizar</button>
            <button type="button" @click="removeUser(row.id)" :disabled="row.id === dataLogged.id" class="btn btn-danger" name="button">Deletar</button>
            <a v-link="{ name: 'usuarios-editar', params: { id: row.id } }" class="btn btn-info">Editar</a>
          </td>
        </tr>
        <tr v-if="!tableData.data.length">
          <td colspan="2">Nenhum usuário cadastrado.</td>
        </tr>
      </tbody>
    </table>
    <pagination :url="urlLoadingData" :paginate-function="paginateData" :result="tableData"></pagination>
  </Card>
</template>

<script>
import Card from 'layout/Card';
import Modal from 'layout/modal/Modal';
import Pagination from 'layout/Pagination';
import { showModal } from 'layout/modal/vuex/actions.js';
import { confirmAlert } from 'src/services/alert';

import {
  loadDataTable,
  paginate,
  updateSearchState,
  findUser,
  clearUserData,
  disableUser,
} from './vuex/actions';

import {
  tableData,
  urlLoadingData,
  search,
  data,
  users,
} from './vuex/getters';

import { dataLogged } from 'modules/login/vuex/getters';

export default {
  components: {
    Card,
    Pagination,
    Modal,
  },
  vuex: {
    getters: {
      tableData,
      data,
      urlLoadingData,
      search,
      users,
      dataLogged,
    },
    actions: {
      loadDataTable,
      paginate,
      updateSearchState,
      showModal,
      findUser,
      disableUser,
      clearUserData,
    },
  },
  methods: {
    searchUser(e) {
      const value = e.target.value;

      this.updateSearchState(value);
      this.loadDataTable({ q: value });
    },
    showUser(id) {
      this.findUser(id).then(() => {
        this.showModal('show-user');
      });
    },
    clearData() {
      this.clearUserData();
    },
    removeUser(id) {
      const message = 'Tem certeza que deseja remover este usuário ?';
      confirmAlert(message).then(() => {
        this.disableUser(id).then(() => this.loadDataTable());
      }).catch(() => {});
    },
    paginateData(page) {
      const q = this.search;

      this.paginate(page, q);
    },
  },
  ready() {
    this.loadDataTable();
  },
};
</script>

<style lang="css">

</style>
