n<template lang="html">
  <Card>
    <div class="row">
      <form novalidate @submit.prevent="runReport()">
        <div class="col-md-2">
          <div class="form-group">
            <label for="exampleInputEmail1">Alunos</label>
            <select class="form-control" v-model="formReportSessionAtended.student">
              <option value="" selected>Selecione o aluno que realizou as sessões do mês</option>
              <option v-for="student in studentsList" :value="student.id">{{student.name}}</option>
            </select>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <label>Data Inicio</label>
            <input type="text" class="form-control" v-model="formReportSessionAtended.init">
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <label>Data fim</label>
            <input type="text" class="form-control" v-model="formReportSessionAtended.final">
          </div>
        </div>
        <div class="col-md-2">
          <label for="">&nbsp;</label>
          <div class="form-group">
            <input type="submit" class="btn btn-default" name="name" value="Gerar">
          </div>
        </div>
      </form>
    </div>
    <div class="">
      <ul class="list-group">
        <li class="list-group-item" v-for="item in items">
          <span class="badge">{{item.sessions_atended_count + item.evolutions_count + _getSessionsAtendeds(item)}}</span>
          Aluno: {{item.name}} - <b>{{item.email}}</b>
          <div class="statistics">
            <div class="item">
              <h4>Sessões Atendidas Importadas</h4>
              <span>{{ _getSessionsAtendeds(item)}}</span>
            </div>
            <div class="item">
              <h4>Evoluções</h4>
              <span>{{item.sessions_atended_count + item.evolutions_count}}</span>

            </div>
          </div>
        </li>
        <li class="list-group-item" v-if="sessionsAtended">
          <p class="pull-left">Total:</p>
          <p class="pull-left">{{sessionsAtended}}</p>
          <div class="clearfix"></div>
        </li>
        <li class="list-group-item" v-if="!sessionsAtended">
          <div class="alert alert-warning">
            Nenhum sessão atendida encontrada com a pesquisa feita.
          </div>
        </li>
      </ul>
    </div>
  </Card>
</template>

<script>
import Card from 'layout/Card';
import moment from 'moment';
import reportsRepository from '../services/repository';
import { studentsList } from 'modules/students/vuex/getters';
import { loadStudentsList } from 'modules/students/vuex/actions';

const getSessionsAtendeds = (item) => {
  const sessions = item.sessions_atended;
  return sessions.length ? sessions[0].aggregate : 0;
};

const sumSessionsAtended = (prev, next) => {
  if (!prev && !next) return false;

  const aggregate = getSessionsAtendeds(next);

  return prev + (next.sessions_atended_count + next.evolutions_count + aggregate);
};

const extractMonth = (date) => moment(date, 'DD/MM/YYYY').format('MM');

const transformForm = (form) => {
  const student = form.student;
  const studentGrouped = form.student_grouped;
  const [init, final] = [extractMonth(form.init), extractMonth(form.final)];

  return {
    init,
    final,
    student,
    studentGrouped,
  };
};

export default {
  data() {
    return {
      formReportSessionAtended: {
        init: moment().format('DD/MM/YYYY'),
        final: moment().add(1, 'M').format('DD/MM/YYYY'),
        student: 0,
        student_grouped: true,
      },
      items: [],
    };
  },
  computed: {
    sessionsAtended() {
      return this.items.reduce(sumSessionsAtended, 0);
    },
  },
  vuex: {
    getters: {
      studentsList,
    },
    actions: {
      loadStudentsList,
    },
  },
  methods: {
    _getSessionsAtendeds(item) {
      return getSessionsAtendeds(item);
    },
    runReport() {
      const form = transformForm(this.formReportSessionAtended);

      reportsRepository.sessionsAtendedByStudent(form).then(result => {
        this.items = result;
      });
    },
  },
  components: {
    Card,
  },
  attached() {
    this.loadStudentsList();
  },
};
</script>

<style lang="css">
.statistics {
  display: flex;
  flex-flow: row wrap;
  padding: 7px;
  margin-top: 25px;
}
.statistics .item {
   width: 50%;
   border: 1px solid #CCC;
   padding: 5px;
   background-color: #F5F5F5;
}

.statistics .item h4{
  margin: 0 0 12px 0;
}
.statistics .item span{
  font-size: 22px;
}

.statistics .item:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.statistics .item:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-right: none;
}
</style>
