<template>
  <Card title="Pacientes">
    <validator lazy name="waitingListPatient">
      <form class="" novalidate @submit.prevent="addPatientToWaitingList">
        <div class="col-md-4" :class="{'has-error': $waitingListPatient.stagingArea.required}">
          <label for="">Especialidade</label>
          <select v-model="stagingAreaSelected" v-validate:staging-area="{required: true}" class="form-control">
            <option value="" selected>Selecione um valor</option>
            <option :value="stagingArea.id" v-for="stagingArea in stagingAreas.data">
              {{stagingArea.name}}
            </option>
          </select>
          <span class="help-block" v-if="$waitingListPatient.stagingArea.required">Selecione um paciente.</span>
        </div>
        <div class="col-md-4" :class="{'has-error': $waitingListPatient.patient.required}">
          <label for="">Paciente</label>
          <select v-model="patientSelected" v-validate:patient="{required: true}" class="form-control">
            <option value="" selected>Selecione um valor</option>
            <option :value="patient.id" v-for="patient in patients.data">
              {{patient.name}}
            </option>
          </select>
          <span class="help-block" v-if="$waitingListPatient.patient.required">Selecione um paciente.</span>
        </div>
        <div class="col-md-4">
          <input style="margin-top:23px;" type="submit" name="name" :disabled="$waitingListPatient.invalid" class="btn btn-info" value="Adicionar">
        </div>
      </form>
    </validator>
    <div class="clearfix"></div>
    <hr />
    <table class="table table-condensed table-striped table-condensed">
      <thead>
        <tr>
          <th>ID</th>
          <th>Paciente</th>
          <th>Especialidade</th>
          <th colspan="2">Cadastrado em</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td v-if="!waitingListPatients.data.length" colspan="4">
            Nenhum paciente cadastrado na lista de espera.
          </td>
        </tr>
        <tr v-for="item in waitingListPatients.data">
          <td>{{item.id}}</td>
          <td>{{item.patient.name}}</td>
          <td>{{item.staging_area.name}}</td>
          <td>{{item.created_at | moment 'DD/MM/YYYY'}}</td>
          <td>
            <button type="button" @click="pullPatient(item.id)" class="btn btn-warning">
              Retirar paciente da lista
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </Card>
</template>

<script>
import Card from 'components/layout/Card';
import { confirmAlert } from 'src/services/alert';

import {
  loadDataTable,
  save,
  pullPatientOfList,
} from './vuex/actions';

import {
  tableData as waitingListPatients,
} from './vuex/getters';

import {
  loadDataTable as loadPatients,
} from 'modules/patients/vuex/actions';

import {
  loadDataTable as loadStagingAreas,
} from 'modules/stagingArea/vuex/actions';

import {
  tableData as stagingAreas,
} from 'modules/stagingArea/vuex/getters';

import {
  tableData as patients,
} from 'modules/patients/vuex/getters';

export default {
  vuex: {
    actions: {
      loadPatients,
      loadDataTable,
      loadStagingAreas,
      save,
      pullPatientOfList,
    },
    getters: {
      patients,
      stagingAreas,
      waitingListPatients,
    },
  },
  data() {
    return {
      patientSelected: 0,
      stagingAreaSelected: 0,
    };
  },
  components: {
    Card,
  },
  methods: {
    addPatientToWaitingList() {
      this.save(this.patientSelected, this.stagingAreaSelected).then(() => {
        this.patientSelected = 0;
        this.stagingAreaSelected = 0;

        this.loadDataTable();
      });
    },
    pullPatient(id) {
      const message = 'Tem certeza que deseja remover este paciente da lista ?';
      confirmAlert(message).then(() => {
        this.pullPatientOfList(id).then(this.loadDataTable);
      }).catch(() => {});
    },
  },
  attached() {
    this.loadPatients();
    this.loadStagingAreas();
    this.loadDataTable();

    this.$activateValidator();
  },
};
</script>

<style lang="css">
</style>
