<template>
  <section class="content">

    <div class="box">
      <div class="box-header with-border">
        <slot name="header"></slot>
        <h3 class="box-title">
          {{title || $route.title}}
        </h3>

        <div class="box-tools pull-right">
          <button v-if="canCollapse" type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Fechar ou abrir">
            <i class="fa fa-minus"></i>
          </button>
          <button v-if="canRemove" type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
            <i class="fa fa-times"></i>
          </button>
        </div>
      </div>
      <div class="box-body">
        <slot></slot>
      </div>
      <!-- /.box-body -->
      <div class="box-footer" v-if="!noFooter">
        <slot name="footer"></slot>
      </div>
      <!-- /.box-footer-->
    </div>
    <!-- /.box -->

  </section>
  <!-- /.content -->
</template>

<script>
export default {
  props: {
    title: {
      type: String,
    },
    noFooter: [Boolean],
    canRemove: Boolean,
    canCollapse: Boolean,
  },
};
</script>

<style scoped>
  .box-title {
    padding: 5px;
    display:block;
    margin-top: 5px;
    float:left;
    margin-left: 5px;
  }

</style>
