<template>
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">
        <li class="treeview">
          <a href="#">
            <i class="fa fa-dashboard"></i>
            <span>Dashboard</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-dashboard"></i>
            <span>Pacientes</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a v-link="{ name: 'pacientes-novo'}"><i class="fa fa-circle-o"></i>Cadastrar</a></li>
            <li><a v-link="{ name: 'pacientes'}"><i class="fa fa-circle-o"></i>Consultar</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-dashboard"></i>
            <span>Alunos</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a v-link="{ name: 'alunos-novo'}"><i class="fa fa-circle-o"></i>Cadastrar</a></li>
            <li><a v-link="{ name: 'alunos'}"><i class="fa fa-circle-o"></i>Consultar</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a v-link="{ name: 'lista-de-espera'}">
            <i class="fa fa-dashboard"></i>
            <span>Lista de Espera</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-dashboard"></i>
            <span>Especialidade</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a v-link="{ name: 'especialidade-novo'}"><i class="fa fa-circle-o"></i>Cadastrar</a></li>
            <li><a v-link="{ name: 'especialidade' }"><i class="fa fa-circle-o"></i>Consultar</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-dashboard"></i>
            <span>Quesitos</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a v-link="{ name: 'quesitos-novo'}"><i class="fa fa-circle-o"></i>Cadastrar</a></li>
            <li><a v-link="{ name: 'quesitos'}"><i class="fa fa-circle-o"></i>Consultar</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-dashboard"></i>
            <span>Usuários</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a v-link="{ name: 'usuarios-novo'}"><i class="fa fa-circle-o"></i>Cadastrar</a></li>
            <li><a v-link="{ name: 'usuarios'}"><i class="fa fa-circle-o"></i>Consultar</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-dashboard"></i>
            <span>Relatórios</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a v-link="{ name: 'relatorio-pacients' }"><i class="fa fa-circle-o"></i> Pacientes</a></li>
            <li><a v-link="{ name: 'relatorio-sessoes-atendidas' }"><i class="fa fa-circle-o"></i> Sessões Atendidas</a></li>
            <li><a v-link="{ name: 'relatorio-sessoes-atendidas-por-aluno' }"><i class="fa fa-circle-o"></i> Sessões Atendidas Por Aluno</a></li>
            <li><a v-link="{ name: 'relatorio-avaliativo-de-aluno' }"><i class="fa fa-circle-o"></i> Avaliação do Aluno</a></li>
          </ul>
        </li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>
</template>

<script>
export default {
  data() {
    return {
    };
  },
};
</script>

<style lang="css">
</style>
