<template>
  <nav aria-label="Page navigation" v-if="result.last_page">
    <ul class="pagination">
      <li :class="{'disabled' : !result.prev_page_url}">
        <a href="javascript:void(0);" @click.prevent="result.current_page !== 1 && paginateFunction(1)" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li v-for="page in result.last_page" :class="{ 'active': page + 1 === result.current_page }">
        <a href="javascript:void(0);" @click.prevent="paginateFunction(page + 1)">{{page + 1}}</a>
      </li>
      <li :class="{'disabled' : !result.next_page_url}">
        <a href="javascript:void(0);" @click.prevent="result.current_page !== result.last_page && paginateFunction(result.result)" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
</template>

<script>
export default {
  props: {
    result: [Object, Array],
    paginateFunction: Function,
    url: String,
  },
};
</script>

<style lang="css">
</style>
