<template>
  <div class="modal fade" :id="name" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" v-text="title"></h4>
        </div>
        <div class="modal-body">
          <slot></slot>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" @click="doHideModal">Fechar</button>
          <button v-if="false" type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</template>

<script>
import { hideModal } from './vuex/actions';

export default {
  props: {
    title: String,
    name: String,
    onClose: Function,
  },
  vuex: {
    actions: {
      hideModal,
    },
  },
  methods: {
    doHideModal() {
      this.hideModal(this.name);

      if (this.onClose) {
        this.onClose();
      }
    },
  },
};
</script>

<style scoped>
  .show-modal {
    display:block;
  }
  .hide-modal {
    display:none;
  }
</style>
