<template lang="html">
  <Card>
    <div class="row">
      <form novalidate @submit.prevent="runReport()">

        <div class="col-md-2">
          <div class="form-group">
            <label>Ano</label>
            <input type="text" class="form-control" v-model="formReportEvaluationStudents.year">
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <label for="exampleInputEmail1">Alunos</label>
            <select class="form-control" v-model="formReportEvaluationStudents.student">
              <option value="" selected>Selecione o aluno que realizou as sessões do mês</option>
              <option v-for="student in studentsList" :value="student.id">{{student.name}}</option>
            </select>
          </div>
        </div>
        <div class="col-md-2">
          <label for="">&nbsp;</label>
          <div class="form-group">
            <input type="submit" class="btn btn-default" name="name" value="Gerar">
          </div>
        </div>
      </form>
    </div>
    <div>
      <div class="panel panel-default" v-for="item in items">
        <div class="panel-heading">
          <h3><b>Aluno: </b> {{item.student.name}}</h3>
        </div>
        <!-- List group -->
        <ul class="list-group">
          <li class="list-group-item"><b>Instiuição:</b> {{item.instituition}}</li>
          <li class="list-group-item"><b>Turna:</b> {{item.class_school}}</li>
          <li class="list-group-item"><b>Ano da turma:</b> {{item.year}}</li>
          <li class="list-group-item"><b>Supervisor do estágio:</b> {{item.staging_supervisor}}</li>
          <li class="list-group-item"><b>Professor(a):</b> {{item.teacher}}</li>
        </ul>
        <div class="panel-heading">
          <h3>Quesitionário</h3>
        </div>
        <ul class="list-group">
          <li class="list-group-item" v-for="quesit in item.quesits">
            <p>
              <b>{{$index+1}})</b> {{quesit.description}}
              <span class="pull-right">
                <b>Nota minima da questão:</b> <span class="badge">{{quesit.minNote}}</span> ||
                <b>Nota máxima da questão:</b> <span class="badge">{{quesit.maxNote}}</span>
              </span>
            </p>
            <p>
              <b>Nota final:</b> <span class="badge badge-info">{{quesit.pivot.note}}</span>
            </p>
          </li>
        </ul>
        <div class="panel-body">
          <p><b>Obvservação:</b></p>
          {{item.observation}}
          <div class="alert alert-info" v-if="!item.observation">
            Nenhuma observação.
          </div>
        </div>
      </div>
      <div class="alert alert-warning"  v-if="!sessionsAtended">
        Nenhuma avaliação encontrada para o ano <b>{{formReportEvaluationStudents.year}}</b> <span v-if="formReportEvaluationStudents.student">Ou aluno selecionado</span>
      </div>
    </div>
  </Card>
</template>

<script>
import Card from 'layout/Card';
import moment from 'moment';
import reportsRepository from '../services/repository';
import { studentsList } from 'modules/students/vuex/getters';
import { loadStudentsList } from 'modules/students/vuex/actions';

const today = moment();

export default {
  data() {
    return {
      formReportEvaluationStudents: {
        year: today.format('YYYY'),
        student: '',
      },
      items: [],
    };
  },
  computed: {
    sessionsAtended() {
      return this.items.length || 0;
    },
  },
  methods: {
    runReport() {
      const form = this.formReportEvaluationStudents;

      reportsRepository.evaluationStudents(form).then(result => {
        this.items = result;
      });
    },
  },
  components: {
    Card,
  },
  vuex: {
    getters: {
      studentsList,
    },
    actions: {
      loadStudentsList,
    },
  },
  ready() {
    this.loadStudentsList();
  },
};
</script>

<style lang="css">
</style>
