<template>
  <validator lazy name="patientEvolution">
    <form novalidate @submit.prevent="patientEvolution">
      <div class="form-group col-md-6" :class="{ 'has-error': $patientEvolution.date.required || $patientEvolution.date.date || $patientEvolution.date.dateBr}">
        <label for="exampleInputEmail1">Data</label>
        <input type="text" class="form-control" v-validate:date="{required: true, date: true, dateBr: true}" v-mask-date v-model="form.date" />
        <span class="help-block" v-if="$patientEvolution.date.required">Preencha a data da evolução.</span>
        <span class="help-block" v-if="!$patientEvolution.date.required && $patientEvolution.date.date">Insira uma data válida.</span>
        <span class="help-block" v-if="!$patientEvolution.date.date && $patientEvolution.date.dateBr">Data deve ser no formato (99/99/9999).</span>
      </div>
      <div class="form-group col-md-6" :class="{ 'has-error': $patientEvolution.student.required}">
        <label for="exampleInputEmail1">Aluno</label>
        <select class="form-control" v-model="form.student" v-validate:student="{required: true}">
          <option value="" selected="">Selecione o aluno</option>
          <option v-for="student in studentsList" :value="student.id">{{student.name}}</option>
        </select>
        <span class="help-block" v-if="$patientEvolution.student.required">Selecione o aluno que fez a evolução do paciente.</span>
      </div>
      <div class="form-group col-md-12" :class="{ 'has-error': $patientEvolution.evolution.required}">
        <label for="exampleInputEmail1">Evolução</label>
        <textarea name="name" class="form-control" rows="8" cols="40" v-validate:evolution="{required: true}" v-model="form.evolution"></textarea>
        <span class="help-block" v-if="$patientEvolution.evolution.required">Preencha evolução do paciente.</span>
      </div>
      <div class="col-md-12">
        <hr>
        <input type="submit" class="btn pull-right btn-success" :disabled="$patientEvolution.invalid" name="send" value="Salvar" />
      </div>
    </form>
  </validator>
  <div class="clearfix"></div>
</template>

<script>
import Card from 'components/layout/Card';
import moment from 'moment';
import { successSaveData } from 'src/services/alert';
import { data } from 'modules/patients/vuex/getters';

import PatientRepository from 'modules/patients/services/repository';

import {
  studentsList,
} from 'modules/students/vuex/getters';

import {
  loadStudentsList,
} from 'modules/students/vuex/actions';

const formDefault = {
  date: moment().format('DD/MM/YYYY'),
  student: 0,
  evolution: '',
};

export default {
  components: {
    Card,
  },
  vuex: {
    actions: {
      loadStudentsList,
    },
    getters: {
      data,
      studentsList,
    },
  },
  data() {
    return {
      form: formDefault,
    };
  },
  methods: {
    patientEvolution() {
      PatientRepository.patientEvolution(this.data.id, this.form).then(response => {
        this.form = formDefault;
        successSaveData(response.message).then(() => {
          this.$emit('reload-evolutions');
        });
      });
    },
  },
  attached() {
    this.loadStudentsList();
    this.$activateValidator();
  },
};
</script>

<style lang="css">
</style>
