<template>
  <div class="col-md-12">
    <table class="table table-bordered table-striped table-condensed">
      <thead>
        <tr>
          <th colspan="3">
            <h4>Evoluções</h4>
          </th>
        </tr>
        <tr>
          <th>Data</th>
          <th>Descrição</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr v-if="!evolutions.length">
          <td colspan="4">Nenhuma evolução cadastrada.</td>
        </tr>
        <tr v-for="item in evolutions">
          <td>{{item.evolution_date | moment 'DD/MM/YYYY'}}</td>
          <td width="80%">{{item.description}}</td>
          <td>
            <div class="text-center">
              <button @click="tryRemoveEvolution(item.id)"class="btn btn-xs btn-danger">REMOVER</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import { successSaveData, confirmAlert, errorAlert } from 'src/services/alert';
import Card from 'components/layout/Card';
import PatientRepository from 'modules/patients/services/repository';


export default {
  props: {
    evolutions: {
      type: Array,
      required: true,
    },
  },
  methods: {
    tryRemoveEvolution(id) {
      confirmAlert('Tem certeza que deseja excluir a evolução ?')
      .then(() => {
        PatientRepository.removeEvolution(id).then(() => {
          successSaveData('Evolução excluida com sucesso.').then(() => {
            this.$emit('removed-evolution');
          });
        }).catch(() => errorAlert('Erro ao excluir evolução.'));
      });
    },
  },
  components: {
    Card,
  },
};
</script>

<style lang="css">
</style>
