  '<template>
  <validator lazy name="patientImportSession">
    <form class="form-horizontal" novalidate @submit.prevent="importSession">
      <div class="container-fluid">
        <div class="form-group" :class="{ 'has-error': $patientImportSession.student.required}">
          <div class="col-md-2">
            <label for="exampleInputEmail1">Alunos</label>
            <select class="form-control" v-model="form.student" v-validate:student="{required: true}">
              <option value="" selected>Selecione o aluno que realizou as sessões do mês</option>
              <option v-for="student in studentsList" :value="student.id">{{student.name}}</option>
            </select>
            <span class="help-block" v-if="$patientImportSession.student.required">Preencha o mês que vai ser importado as sessões atendidas.</span>
          </div>
        </div>
        <div class="form-group" :class="{ 'has-error': $patientImportSession.month.required}">
          <div class="col-md-2">
            <label for="exampleInputEmail1">Mês (fixar tamanho)</label>
            <input type="number" size="2" class="form-control" v-model="form.month" v-validate:month="{required: true}">
            <span class="help-block" v-if="$patientImportSession.month.required">Preencha o mês que vai ser importado as sessões atendidas.</span>
          </div>
        </div>

        <div class="form-group" :class="{ 'has-error': $patientImportSession.monthTotal.required}">
          <div class="col-md-2">
            <label for="exampleInputEmail1">Total no mês</label>
            <input type="number" class="form-control" v-model="form.monthTotal" v-validate:month-total="{required: true}">
            <span class="help-block" v-if="$patientImportSession.monthTotal.required">Preencha o total sessões atendidas pro mês.</span>
          </div>
        </div>
        <div class="row">
          <hr>
          <div class="col-md-12">
            <input type="submit" :disabled="$patientImportSession.invalid" class="btn btn-success" name="send" value="Salvar" />
          </div>
        </div>
      </div>
    </form>
  </validator>
</template>

<script>
import PatientRepository from 'modules/patients/services/repository';
import Card from 'components/layout/Card';
import moment from 'moment';
import { successSaveData } from 'src/services/alert';
import { data } from 'modules/patients/vuex/getters';
import { studentsList } from 'modules/students/vuex/getters';
import { loadStudentsList } from 'modules/students/vuex/actions';

const formDefault = {
  month: moment().format('MM'),
  monthTotal: 0,
  student: 0,
};

export default {
  components: {
    Card,
  },
  vuex: {
    getters: {
      data,
      studentsList,
    },
    actions: {
      loadStudentsList,
    },
  },
  data() {
    return {
      form: formDefault,
    };
  },
  methods: {
    importSession() {
      PatientRepository.importSessions(this.data.id, this.form).then(response => {
        successSaveData(response.message);
        this.form = formDefault;
      });
    },
  },
  attached() {
    this.loadStudentsList().then(() => this.$activateValidator());
  },
};
</script>

<style lang="css">
</style>
'
