<template>
    <header class="main-header">
      <!-- Logo -->
      <a href="/" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini">SG<b>CEF</b></span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>SG</b>CEF</span>
      </a>
      <!-- Header Navbar: style can be found in header.less -->
      <nav class="navbar navbar-static-top">

        <div class="navbar-custom-menu">
          <ul class="nav navbar-nav">
            <!-- User Account: style can be found in dropdown.less -->
            <li class="dropdown user user-menu">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <span class="hidden-xs">{{user.name}}</span>
              </a>
              <ul class="dropdown-menu">
                <!-- User image -->
                <li class="user-header">
                  <p>
                    Olá {{user.name}}
                  </p>
                </li>
                <!-- Menu Footer-->
                <li class="user-footer">
                  <div class="pull-right">
                    <a href="#" @click.prevent="logoutUser" class="btn btn-default btn-flat">Sair</a>
                  </div>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <!-- =============================================== -->

    <!-- Left side column. contains the sidebar -->
    <menu-sidebar></menu-sidebar>
    <!-- =============================================== -->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <router-view></router-view>
    </div>
    <!-- Add the sidebar's background. This div must be placed
    immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>
  </template>

<script>
import { user } from 'modules/users/vuex/getters';
import { logout } from 'modules/login/vuex/actions';
import MenuSidebar from './components/layout/MenuSidebar';
export default {
  components: {
    MenuSidebar,
  },
  vuex: {
    actions: {
      logout,
    },
    getters: {
      user,
    },
  },
  methods: {
    logoutUser() {
      this.logout().then(() => {
        this.$router.go({ name: 'login' });
      });
    },
  },
};
</script>

<style>
.table-size-20 td {
  font-size: 18px;
}
.wrapper, #app, body, html {
  height: 100%;
}
li.user-header {
  height: 108px !important;
}
.fade-transition {
  transition: opacity .3s ease;
}
.fade-enter, .fade-leave {
  opacity: 0;
}
.wrapper{
  overflow-y: auto;
}
</style>
