<template>
  <Card title="Dashboard">
    <div class="alert alert-info">
      <h3>Use as opções do menu ao lado para utilizar o sistema.</h3>
    </div>
  </Card>
</template>

<script>
import Card from 'components/layout/Card';
import { increment, updateMessage } from './state/actions';
export default {
  components: {
    Card,
  },
  vuex: {
    getters: {
      counter: ({ counter }) => counter,
      message: ({ message }) => message,
    },
    actions: {
      increment,
      updateMessage,
    },
  },
};
</script>

<style lang="css">
</style>
