<template>
  <div class="hold-transition login-page">
    <div class="login-box">
      <div class="login-logo">
        <a href="../../index2.html"><b>SGC</b>EF</a>
      </div>
      <!-- /.login-logo -->
      <div class="login-box-body">
        <p class="login-box-msg">Logue-se para utilizar o sistema.</p>

        <validator name="loginForm">
          <form @submit.prevent="authenticateUser" method="post">
            <div class="form-group has-feedback" :class="{ 'has-error': $loginForm.login.required}">
              <input type="text" class="form-control" @input="updateInput('login', $event)" v-validate:login="{required: true}" :value="data.login" placeholder="Seu Login">
              <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
              <span class="help-block" v-if="$loginForm.login.required">Preencha o campo login.</span>
            </div>
            <div class="form-group has-feedback" :class="{ 'has-error': $loginForm.password.required}">
              <input type="password" class="form-control" @input="updateInput('password', $event)" v-validate:password="{required: true}" :value="data.password" placeholder="Sua Senha">
              <span class="glyphicon glyphicon-lock form-control-feedback"></span>
              <span class="help-block" v-if="$loginForm.password.required">Preencha o campo senha.</span>
            </div>
            <div class="row">
              <!-- /.col -->
              <div class="col-xs-4 col-md-4">
                <button type="submit" class="btn btn-primary btn-block btn-flat">Acessar</button>
              </div>
              <!-- /.col -->
            </div>
          </form>
        </validator>
        <!-- <a href="#">I forgot my password</a><br> -->
      </div>
      <!-- /.login-box-body -->
    </div>
  </div>
</div>
</div>
</template>

<script>

import {
  authenticate,
  updateInput,
  setDataUserLogged,
} from './vuex/actions';

import {
  data,
} from './vuex/getters';


export default {
  vuex: {
    getters: {
      data,
    },
    actions: {
      authenticate,
      updateInput,
      setDataUserLogged,
    },
  },
  methods: {
    authenticateUser() {
      this.authenticate(this.data.login, this.data.password, this.data.remember)
      .then(() => {
        this.$router.go({ name: 'dashboard' });
        this.setDataUserLogged();
      });
    },
    updateInput(name, event) {
      this.updateInput(name, event);
    },
  },
};
</script>

<style>
.login-page, .register-page {
  height: 100%;
}
.login-box {
  margin: 0 auto;
  padding: 10% 0;
  height: 100%;
}
</style>
